.card-images{
    width: 100%;
    border-radius:10px;
}
.card{
    border-radius:5px;
    background-color: white;
    border: none;
    margin: auto;
}
#card:hover{
    box-shadow: 0px 5px 10px 0px white ;
    transition:  0.5s;
}
.card-text{
    margin-top: 20px;
    font-weight: 600;
    color: black;
}
.supplier{
    color : rgb(29, 80, 60);
}
.button-product-card{
    width: 100%;
    background-color: #cf97be;
    border: none;
    height: 40px;
    border-radius: 5px;
}
.button-product-card:hover{
    background-color: black;
    color: white;
    transition: ease-in 0.5s;
}