.address{ 
   background-color: #fff;
    margin-bottom: 100px;
    padding: 20px;
    height: 240px;
    width: 30%;
    box-shadow: 5px 2px 10px ;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.address:hover{
   background-color: #685C88;
    transition: ease-in 0.5s;
    color: rgb(248, 238, 238);
}
.address-container{
   justify-content: center;
}
@media screen  and (max-width:557px){
   .address{
      width: 85%;
      margin-left: 0px;
      margin-right: 0px;
   }
   
}