.service-img img{
    width: 500px;
    height: 350px;
    border-radius: 5px;
}
.serviceSlider{
    margin-top: 190px;
}
.services{
    padding-bottom: 100px;   
}

.title{
    font-weight: 700;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    color: #fff;
    border-bottom: 3px solid #000;
    height: 50px;
    width: 300px;
}
.service-slider-text{
    color: rgb(141, 148, 145);
}