.input{
    width: 400px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: wheat;
    
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
}