.footer{
    height: 380px;
    background: #88BE4C;
    padding: 80px;
}
.footer-font-size{
    font-size: 10px;
}
.footer-text{
    color: white;
    display: inline-block;
    margin-top: 40px;
}
.site-logo{
    width: 30px;
}
.icons-social{
    color: white;
    font-size: 17px;
    margin-right: 10px;
}
.icons-social:hover{
    color: #61dafb;
}
.form input[type="email"]{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 15px;
    color: #fff;
    opacity: 0.3;
}
.form input[type="submit"]{
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
   
@media screen  and (max-width:557px){
    
    .footer{
        padding: 20px;
    }
}
